.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.adjust-position {
  justify-content: flex-start;
}

.add-height {
  height: 200px;
}

.add-margin-top {
  margin-top: 20px;
}

.add-padding-top {
  padding-top: 20px;
}

.add-padding-bottom {
  padding-bottom: 20px;
}

.adjust-button-position {
  justify-content: flex-end;
}

.adjust-button {
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 5px 10px;
}

.modal-content {
  background-color: white;
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50 50 50 / 90%);
}

.adjust-textarea-width {
  width: 400px;
}

.hidden {
  display: none;
}

.column-one-seventh {
  width: calc(100% / 7);
}

.day {
  padding: 20px;
  background-color: teal;
  color: white;
  box-shadow: 10px 5px 5px black;
  border-radius: 3px;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  height: 20px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
